<div class="card card-maneuver card-maneuver-{{category}}">
  <div class="card-restrictions">
    <div class="restrict-col restrict-prev"><div class="restrict-heading">Prev</div><div class="restrict-symbols">{{previousHtml}}</div></div>
    <div class="restrict-col restrict-current"><div class="restrict-heading">This</div><div class="restrict-symbols">{{currentHtml}}</div></div>
    <div class="restrict-col restrict-next"><div class="restrict-heading">Next</div><div class="restrict-symbols">{{nextHtml}}</div></div>
  </div>
  <div class="card-diagram">{{diagramHtml}}</div>
  <div class="card-text">
    <div class="card-name">{{name}}</div>
    <div class="card-subtitle">{{subtitleHtml}}</div>
    <div class="card-notes">{{notesHtml}}</div>
  </div>
</div>
